<%-include ("header")-%>
    <h2>Tayra</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, similique ipsum. Tempora ut obcaecati earum,
        deleniti ipsa natus inventore animi nemo deserunt nostrum voluptas quam, nobis sequi dignissimos amet impedit.
    </p>

    <%-include ("footer")-%>